<div class="row mt-2">
   <div class="col">
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
           <li class="breadcrumb-item"><a href="#">Administrador</a></li>
           <li class="breadcrumb-item active" aria-current="page">Grupo</li>
         </ol>
       </nav>
   </div>
</div>

<form id="grupo">
   <ul class="nav nav-tabs" id="tab" role="tablist">
      <li class="nav-item">
         <a class="nav-link active" id="principal-tab" role="tab" data-toggle="tab" data-selected="principal-tab" href="#principal-tab-content"
            aria-controls="principal" aria-selected="true">Principal</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" id="modelo-tab" role="tab" data-toggle="tab" data-selected="modelo-tab" href="#modelo-tab-content"
            aria-controls="modelo" aria-selected="false">Modelo</a>
      </li>
   </ul>
   <div class="tab-content" id="tab-content">
      <div class="tab-pane fade show active" id="principal-tab-content" aria-labelledby="principal-tab">
         <%- include('_form'); %>
      </div>
      <div class="tab-pane fade" id="modelo-tab-content" aria-labelledby="modelo-tab">
         <div class="row">
            <div class="col my-2">
               <div class="row">
                  <div class="col my-2">
                     <textarea name="modelo" id="modelo" rows="10" cols="80">
                     </textarea>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</form>

<div class="fixed-bottom bg-light px-3 py-2">
   <div class="row">
      <div class="col col-md-3 col-lg-2 col-xl-1 mx-n1">
         <button type="button" class="btn btn-primary btn-block btn-lg" onclick="save()">Confirmar</button>
      </div>
      <div class="col col-md-3 col-lg-2 col-xl-1 mx-n3">
         <button type="button" class="btn btn-outline-secondary btn-block btn-lg">Cancelar</button>
      </div>
   </div>
</div>
