<div class="row mt-2">
   <div class="col">
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
           <li class="breadcrumb-item"><a href="#">Administração</a></li>
           <li class="breadcrumb-item active" aria-current="page">Upload</li>
         </ol>
       </nav>
   </div>
</div>

<div class="row mt-2">
   <div class="col">
      <div class="custom-file">
         <input type="file" multiple="multiple" class="custom-file-input" id="file">
         <label class="custom-file-label" for="file" data-browse="Procurar">Selecione...</label>
      </div>
   </div>
</div>
