<div class="sidebar sidebar-darken">

   <div class="sidebar-menu">

      <ul class="list list-unstyled scrollbar">

         <li class="list-item">
            <p class="list-title text-uppercase">Translate</p>
            <ul class="list-unstyled">
               <li><a href="#" class="list-link">Czech</a></li>
               <li><a href="#" class="list-link current">English</a></li>
            </ul>
         </li>

         <li class="list-item">
            <p class="list-title text-uppercase">Dashboard</p>
            <ul class="list-unstyled">
               <li><a href="#" class="list-link"><span class="list-icon"><i class="fa fa-home"
                           aria-hidden="true"></i></span>Home</a></li>
               <li><a href="#" class="list-link link-arrow link-current"><span class="list-icon"><i
                           class="fa fa-cog" aria-hidden="true"></i></span>Settings</a>
                  <ul class="list-unstyled list-hidden">
                     <li><a href="#" class="list-link">Timezone</a></li>
                     <li><a href="#" class="list-link">Permissions</a></li>
                     <li><a href="#" class="list-link link-arrow link-current">Maintenance</a>
                        <ul class="list-unstyled list-hidden">
                           <li><a href="#" class="list-link">On</a></li>
                           <li><a href="#" class="list-link link-current">Off</a></li>
                        </ul>
                     </li>
                  </ul>
               </li>

               <li><a href="#" class="list-link">Notice</a></li>
            </ul>
         </li>

         <li class="list-item">
            <p class="list-title text-uppercase">Coments</p>
            <ul class="list-unstyled">
               <li><a href="#" class="list-link"><span class="list-icon"><i class="fa fa-plus"
                           aria-hidden="true"></i></span>New</a></li>
               <li><a href="#" class="list-link link-arrow"><span class="list-icon"><i class="fa fa-comments-o"
                           aria-hidden="true"></i></span>Settings comments</a>
                  <ul class="list-unstyled list-hidden">
                     <li><a href="#" class="list-link">Disable</a></li>
                     <li><a href="#" class="list-link">Enable</a></li>
                  </ul>
               </li>
            </ul>
         </li>

         <li class="list-item">
            <p class="list-title text-uppercase">Blog</p>
            <ul class="list-unstyled">
               <li><a href="#" class="list-link"><span class="list-icon"><i class="fa fa-plus"
                           aria-hidden="true"></i></span>Add</a></li>
               <li><a href="#" class="list-link"><span class="list-icon"><i class="fa fa-table"
                           aria-hidden="true"></i></span>List</a></li>
            </ul>
         </li>
      </ul>
   </div>
</div>
