<!DOCTYPE html>
<html lang="pt-br">
<head>
   <title><%=reservado['titulo']%></title>

   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="<%=reservado['descricao']%>">

   <link rel="stylesheet" href="/static/_plugin/icelus-ui/css/icelus-ui-dark.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

   <script src="/static/_plugin/icelus-ui/js/icelus-ui.min.js"></script>
</head>
<body>
   {conteudo}
</body>
</html>
