<!DOCTYPE html>
<html lang="pt-br">
    <head>        
        <% include  ../templates/head %>
        <title>Cadastro de bairros</title>
    </head>
    <body>
        <div class="container-fluid">
            dhasuhduashudhasuhduash
        </div>
        <script type="text/javascript" src="static/script/bairros.js"></script>
    </body>
</html>