@charset "UTF-8";
.body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  background-color: #30353c;
  /*color: map-get($theme, body-color);*/
}

.content {
  margin-top: 3.5em;
  min-width: 100vw;
  background-color: #fcfcfc;
}
@media (min-width: 768px) {
  .content {
    min-width: 0;
    width: 100%;
  }
}

.content-box {
  padding: 1.25rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
}

.sidebar {
  margin-top: 3.5em;
  min-height: calc(100vh - 3.5em);
  margin-left: -17rem;
  transition: margin 0.15s ease-out;
  background-color: #262a2f;
}
@media (min-width: 768px) {
  .sidebar {
    margin-left: 0;
  }
}

.sidebar-toggle .sidebar {
  margin-left: 0;
}
@media (min-width: 768px) {
  .sidebar-toggle .sidebar {
    margin-left: -17rem;
  }
}

.sidebar-toggle .botbar {
  left: 0;
}

.sidebar-menu {
  width: 17rem;
}

.sidebar .list {
  color: #778291;
}

.sidebar .list-link {
  color: #cbd0d5;
}

.sidebar .list-hidden {
  border-left: 0.0625rem solid #343940;
}

.sidebar .link-current,
.sidebar .list-link:hover {
  background-color: #30353c;
}

.navbar .navbar-link {
  color: #cbd0d5;
}

.navbar .navbar-bars {
  color: #cbd0d5;
}

.sidebar .ps__rail-y.ps--clicking .ps__thumb-y,
.sidebar .ps__rail-y:focus .ps__thumb-y,
.sidebar .ps__rail-y:hover .ps__thumb-y,
.sidebar .ps__thumb-y {
  background-color: #3d434b;
}

.sidebar .link-arrow:before,
.sidebar .list-link .fa,
.navbar .navbar-bars {
  opacity: 0.3;
}

.sidebar .link-arrow.active:before,
.sidebar .list-link:hover .fa {
  opacity: 1;
}

.botbar {
  position: fixed;
  left: 17rem;
  bottom: 0;
  width: 100%;
  padding: 15px;
}
@media (max-width: 991.98px) {
  .botbar {
    position: relative;
    left: 0;
    padding: 15px 0;
  }
}

.list {
  max-height: 80vh;
  padding: 0 1.25rem;
  font-size: 0.875rem;
}

.list-item {
  padding: 0;
  margin-top: 0.625rem;
  line-height: 2.125rem;
}

.list-title {
  margin-bottom: 0;
  font-size: 0.75rem;
}

.list-hidden {
  display: none;
  padding-left: 0.625rem;
  margin: 0.9375rem 0 0.9375rem 0.625rem;
  overflow: hidden;
}

.list-link {
  display: block;
  padding: 0 0.625rem;
  margin-bottom: 0.125rem;
  border-radius: 0.25rem;
}
.list-link:hover {
  text-decoration: none;
}
.list-link:hover .fa {
  transform: rotate(360deg);
  transition: 0.5s all;
}

.list-icon {
  width: 1.375rem;
  display: inline-block;
}

.link-arrow:before {
  font-family: "FontAwesome";
  margin-right: 0.1875rem;
  float: right;
}

.link-arrow.up:before {
  content: "";
}

.link-arrow.down:before {
  content: "";
}

.link-arrow.transition:before {
  transition: 0.2s all;
}

.link-arrow.rotate:before {
  transform: rotate(180deg);
}

.link-arrow.rotate-revert:before {
  transform: rotate(-180deg);
}

.navbar {
  background-color: #262a2f;
}

.navbar-link {
  margin-left: 0.1875rem;
}

.navbar-bars {
  transition: 0.2s all;
  margin-left: 0.3125rem;
  font-size: 0.875rem;
}

.navbar .navbar-bars:hover {
  opacity: 0.7;
}

.dropdown-logged {
  margin-left: auto;
}

.dropdown-logged-toggle:before {
  margin: 0.375rem 0 0 0.5rem;
  float: right;
  font-family: "FontAwesome";
  font-size: 0.875rem;
  content: "";
}

.dropdown-logged-menu {
  top: 2.125rem;
}

.dropdown-logged-item {
  font-size: 0.875rem;
}
.dropdown-logged-item .fa {
  transition: 0.5s all;
  padding-right: 0.625rem;
  width: 1.375rem;
}

.dropdown-link:hover {
  text-decoration: none;
}

.dropdown-user {
  display: block;
  margin: 0.3125rem 0.5rem 0 0;
  font-weight: 600;
  font-size: 0.875rem;
}

.dropdown-avatar {
  height: 1.8125rem;
  width: 1.8125rem;
  border-radius: 50%;
}

.dropdown-menu-arrow {
  top: -1.5625rem;
  left: 50%;
  position: relative;
}

.dropdown-menu-arrow:before,
.dropdown-menu-arrow:after {
  content: "";
  position: absolute;
  display: block;
  border-width: 0.375rem 0.4375rem;
  border-style: solid;
  border-color: transparent;
  z-index: 1001;
}

.dropdown-menu-arrow:before,
.dropdown-menu-arrow:after,
.dropdown-menu-arrow {
  width: 0;
  height: 0;
}

.dropdown-menu-arrow:after {
  bottom: -1.125rem;
  right: -4.625rem;
}

.dropdown-logged .dropdown-link {
  color: #cbd0d5;
}

.dropdown-menu {
  background-color: #30353c;
}

.dropdown-menu .dropdown-logged-item {
  color: #cbd0d5;
}

.dropdown-menu .dropdown-logged-item:hover {
  background-color: #262a2f;
  color: #cbd0d5;
}

.dropdown-menu .dropdown-menu-arrow:after {
  border-bottom-color: #30353c;
}

.dropdown-logged .dropdown-logged-toggle:before,
.dropdown-menu .dropdown-logged-item .fa {
  opacity: 0.3;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.nanobar {
  width: 100%;
  height: 0.125rem;
  z-index: 9999;
  top: 0;
}

.nanobar .bar {
  width: 0;
  height: 100%;
  transition: height 0.3s;
}

.nanobar .bar {
  background-color: #e8eaec;
  background: #38f;
  border-radius: 4px;
  box-shadow: 0 0 10px #59d;
}

.scrollbar {
  position: relative;
  overflow: hidden;
}

.ps .ps__rail-y.ps--clicking,
.ps .ps__rail-y:focus,
.ps .ps__rail-y:hover {
  background: none;
}

.ps__rail-y {
  margin-top: 0.0625rem;
}

.ps__rail-y.ps--clicking .ps__thumb-y,
.ps__rail-y:focus .ps__thumb-y,
.ps__rail-y:hover .ps__thumb-y,
.ps__thumb-y {
  width: 0.3125rem;
}
