<section class="sidebar sidebar-darken">

   <div class="sidebar-menu">

      <ul class="list list-unstyled scrollbar">

         <li class="list-item">
            <p class="list-title text-uppercase">Administração</p>
            <ul class="list-unstyled">
               <li>
                  <a href="/admin/grupo/registrar" class="list-link">
                     <span class="list-icon"><i class="fa fa-clone"></i></span>Grupo
                  </a>
               </li>
               <li>
                  <a href="/admin/grupo/registrar" class="list-link">
                     <span class="list-icon"><i class="fa fa-file-text-o"></i></span>Conteúdo
                  </a>
               </li>
               <li>
                  <a href="/admin/upload" class="list-link">
                     <span class="list-icon"><i class="fa fa-upload"></i></span>Upload
                  </a>
               </li>
            </ul>
         </li>
      </ul>
   </div>
</section>
